.view {
  display: flex;
  flex-direction: column;
}

.iframe {
  order: -1;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 20px;
  font-size: 33px;
}

.channelTitle {
  display: block;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: normal;
}

.desc {
  padding-right: 15%;
  white-space: pre-wrap;
}
